body {
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-font-sans-serif: "Roboto", sans-serif;
}

.heading {
    background: -webkit-linear-gradient(#3f51b5, #955ef4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    --bs-font-sans-serif: "Roboto", sans-serif;
}

.font-400 {
    font-weight: 400;
}

.offsideBar {
    width: 20em !important;
}

/* userCss start */
.home-layout {
    height: 100vh;
    background-color: rgb(233 231 231 / 33%);
}

.sidebar {
    border-radius: 1em;
    height: 84vh;
    overflow-y: auto;
}

.header {
    height: 12vh;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.header .container-fluid,
.authBtn>.btn {
    border-radius: 2.5rem;
    box-shadow: "0 2px 4px rgba(0, 0, 0, 0.1)"
}

.footer {
    height: 12vh;
    background-color: #000;
}

.outlet {
    height: 88vh;
    gap: 1em;
}

.center-content,
.right-content {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    height: 84vh;
    overflow-y: auto;
}

.scroll-y {
    overflow-y: auto;
}

.logo-img {
    width: 40px;
    height: 50px;
    margin: 5px 10px !important;
    filter: brightness(3);
}

/* Login page styles */
.login-container {
    background: linear-gradient(to bottom right, #cae8ff, #ffffff);
}

.form-floating>.form-control:not(:placeholder-shown)~label {
    transform: scale(.85) translateY(-1.5rem) translateX(.15rem) !important;
}

.form-floating>.form-control:focus~label {
    transform: scale(.85) translateY(-1.5rem) translateX(.15rem) !important;
}

.signUpsideBanner {
    background-image: url('/assets/img/signUpsidebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.modal-header button {
    margin-top: 1px !important;
    font-size: 12px !important;
    color: black !important;
}

.loginModalHeight {
    height: 489px;
}

.linktext {
    text-align: center;
    width: 406px;
    height: 195px;
    margin: auto;
    background-color: #F5F6FA;
    border-radius: 24px;
}

.linktext p {
    width: 292px;
    margin: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: justify !important;
}

.successtext {
    text-align: center;
    width: 406px;
    margin: auto;
    border-radius: 24px;
}

.successtext p {
    width: 292px;
    margin: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: justify !important;
}

.linktext div {
    width: 292px;
    margin: auto;
}

.accordion-button,
.accordion-item {
    border-radius: 0 !important;
}

.accordion-button::after {
    background-image: url('/assets/img/accordian-btn.png') !important;
}

.accordion-header.disabled .accordion-button::after {
    display: none !important;
}


.home-content {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.center-content {
    flex: 0 0 60%;
}

.right-content {
    flex: 1;
}

.badge.rounded-pill {
    width: 75px !important;
    padding: 10px 10px 8px 10px !important;
}

.badge-post {
    border: 1px solid #0055A7 !important;
    background: #E8F4FF !important;
    color: #0055A7 !important;
}

.badge-get {
    border: 1px solid #117D01 !important;
    background: #ECFFE9 !important;
    color: #117D01 !important;
}

.badge-put {
    border: 1px solid #B48D00;
    background: #FFF8E0;
    color: #B48D00 !important;
}

.badge-delete {
    border: 1px solid #A70300 !important;
    background: #FFE9E9 !important;
    color: #A70300 !important;
}

.badge-patch {
    border: 1px solid #D65C04 !important;
    background: #FFF3EA !important;
    color: #D65C04 !important;
}

.table-responsive-custom {
    overflow-x: auto;
    max-width: 100%;
}

.table-responsive-custom table th {
    white-space: nowrap;
}

.word-break {
    word-break: break-all !important
}


.language-tabs {
    height: 104px;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    overflow-x: auto
}

.language-tab {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 6px;
    background-color: #f0f0f0;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.language-tab:hover {
    transform: scale(1.1);
    border-color: #00a5ff;
    box-shadow: 0 0 8px rgba(0, 165, 255, 0.4);
}

.language-tab.active {
    border-color: #00a5ff;
    box-shadow: 0 0 12px rgba(0, 165, 255, 0.7);
    transform: scale(1.1);
}

.span-btn {
    border: none;
    background-color: white;
}

.card {
    border-radius: 16px !important;
    border: 1px solid #E6E9F4 !important;
}

.card-header {
    border-bottom: 1px solid #E6E9F4 !important;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
}

/* For all scrollable elements */
* {
    scrollbar-width: thin;
    scrollbar-color: #0d6efdba #ffffff;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 4px;
    border: 1px solid #ccc;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #084298;
}



/* userCss end */